{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-body-secondary min-vh-100 d-flex flex-column">

        <main class="flex-fill d-flex flex-column justify-content-center align-items-center text-center">
            <h1 class="display-4 fw-light">Hey, je suis Chrisna</h1>
            <p class="lead mt-3">
                Actuellement en formation de développeur web, je me spécialise dans le développement full-stack et<br>
                la création d’interfaces UX/UI modernes.
            </p>
        </main>
    </div>
{% endblock %}
