{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid bg-light py-5" style="min-height: 100vh;">
        <div class="container">

            <!-- Image principale -->
            <div class="mb-5">
                <img src="{{ asset('images/kanye.png') }}" alt="Image principale du projet"
                     class="img-fluid rounded shadow-sm w-100" style="max-height: 400px; object-fit: cover;">
            </div>

            <!-- Titre + infos -->
            <h2 class="mb-4">Kanye West API</h2>
            <hr>

            <div class="row mb-5">
                <div class="col-md-2 fw-bold">Description</div>
                <div class="col-md-10">
                    Ce mini-projet utilise l'API Kanye Rest pour afficher aléatoirement des citations de Kanye West. En cliquant sur un bouton, une nouvelle citation s’affiche instantanément grâce à une requête fetch en JavaScript. Ce projet m’a permis de découvrir le fonctionnement des appels HTTP, la gestion des promesses, et l’intégration d’une API tierce dans une interface simple et dynamique. C’est un excellent exercice pour apprendre les bases de l’asynchrone en JS.
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-2 fw-bold">Année</div>
                <div class="col-md-10">2024</div>
            </div>


            {#Des autres images

             <div class="row g-4">
                <div class="col-md-6">
                    <img src="{{ asset('images/projets/image2.jpg') }}" alt="Projet image 2"
                         class="img-fluid rounded shadow-sm w-100" style="max-height: 300px; object-fit: cover;">
                </div>
                <div class="col-md-6">
                    <img src="{{ asset('images/projets/image3.jpg') }}" alt="Projet image 3"
                         class="img-fluid rounded shadow-sm w-100" style="max-height: 300px; object-fit: cover;">
                </div>
            </div>

            #}

            <a href="{{ path('app_projets') }}" class="btn btn-outline-dark mt-4">
                ← Retour aux projets
            </a>


        </div>
    </div>
{% endblock %}
