{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center bg-light" style="height: 100vh;">
        <h1 class="display-4 text-muted fw-light">EN COURS...</h1>

        <a href="{{ path('app_projets') }}" class="btn btn-outline-dark mt-4">
            ← Retour aux projets
        </a>
    </div>
{% endblock %}
